
@use 'variables' as v;


html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// Bloquear scroll al desplegar menú mobile

html {

  &.no-scroll,
  &.no-scroll body {
    overflow: hidden;
    height: 100%;
  }
  
  &.no-scroll-long {
    overflow-y: scroll;
  }
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
  line-height: 1.8;
  -webkit-tap-highlight-color: rgba(0,0,0,0); // Elimina fondo azul al dar click en botón en dispositivo móvil
}

p {
  color: v.$negro;
}

.contenedor {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3 {
  font-family: v.$fuente_principal;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}