
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

// Fuentes

$fuente_principal: 'Montserrat', sans-serif;

$delgada: 300;
$regular : 400;
$black: 600;
$bold: 700;

// Tamaño Media Queries

$galaxyFold: 290px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1080px;

// Colores

$negro: #000000;
$blanco: #ffffff;
$celeste: #5fa2e6;
$verde: #71b100;
$gris: #e1e1e1;
$grisOscuro: #444444;
$rojo: #a01717;

$separacion: 5rem;
