
@use 'base/variables' as v;
@use 'base/mixins' as m;


.footer {
  background-color: v.$grisOscuro;
  padding: 3rem 0;
  margin-bottom: 0;
}

.contenido-footer {
  text-align: center;

  @include m.tablet {
    display: flex;
    justify-content: space-between;
  }

  p {
    color: v.$blanco;
  }
  
  .navegacion-desktop{
    display: none;

    @include m.tablet {
      display: block;
    }
  }
}