
@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenedor-nosotros {
  margin-top: 2.5rem;
  @include m.grid(1, 3rem);

  @include m.tablet {
    @include m.grid(3, 3rem);
  }
}

.iconos {
  text-align: center;
  
  img {
    height: 10rem;
  }
}